*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;    
}

main{
    margin-left: 10vw;
}

a{
    font-size: 1.5em;
    color: black;
    padding: 5px;
    width: 100%;
    padding: 10px;
}

.about-me-a{
    border-top: 1px solid black;
}

.test{
    height: 100vh;
    background: #F9B872;
    border: 1px solid black;
}

.header{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    overflow: hidden;
}

.title-and-navbar-container{
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    background-color: #F9B872;
}

.waves {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves svg {
    display: block;
    width: calc(200% + 1.3px);
    height: 231px;
}

.waves .shape-fill {
    fill: #F9B872;
} 

.title{
    margin: 20px 0 0 30px;
}

.nav-absolute-container{
    position: absolute;
}

.navbar{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 10vw;
    font-size: 0.7em;

}



.about-me-section{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}


.about-me-text-and-photo-container{
    display: flex;
    margin: 0 0 0 15px;
    font-weight: normal;
}

.about-me-text-and-photo-container h2{
    font-weight: normal;
}

.about-me-waves {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.about-me-waves svg {
    position: relative;
    display: block;
    width: calc(166% + 1.3px);
    height: 150px;
}

.about-me-waves .shape-fill {
    fill: #F9B872
}

.projects-and-stack-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-wrapper{
    display: flex;
    flex-direction: row;
}

.project-container{
    position: relative;
    height: 50vh;
    overflow: hidden;
    margin: 10px 10px 10px 0;
    border: 1px solid black;
}

.weather-app-screenshot{
    position: absolute;
    left: -9%;
}

.technologies{
    display: flex;
    justify-content: center;
}

.logo{
    margin: 10px;
    font-size: 5em;
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 20px 0 0 0;
}


.contact-info{
    border: 1px solid black;
    padding: 25px;
}
