*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BIZ UDPGothic", sans-serif, "roboto" sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-color: hsl(0, 15%, 95%);
}

section{
    line-height: 1.2;
    margin: 64px 0 64px 0;
}

button{
    background-color: #F9B872;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 4px hsla(0, 4%, 5%, 0.849);
    font-family: "roboto", sans-serif;
}

label{
    display: flex;
    flex-direction: column;
}

h1{
    font-family: "BIZ UDPGothic", sans-serif;
    color: hsl(0, 5%, 10%);
    font-weight: 700;
    font-size: 64px;
}

h2{
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: hsl(0, 5%, 10%);
}

h3{
    font-family: "roboto" , sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: hsl(0, 5%, 10%);    
}

h4{
    font-family: "BIZ UDPGothic", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 5%, 10%);    
}

p{
    font-family: "roboto" , sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: hsl(0, 15%, 10%);    
}

main{
    max-width: 1200px;
    margin: auto;
}

.header-section{
    margin: 0 0 64px 0;
    background-color: #F9B872;
}

.header{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    line-height: 1.2;
}

.title-and-navbar-container{
    background-color: #F9B872;
}

.navbar{
    text-align: left;
    margin: 8px 0 8px 0;
    font-size: 24px;
}

.navbar a{
    font-family: "roboto", sans-serif;
    font-weight: 400; 
    margin: 8px;
    color: black;
}

.text-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title{
    margin: 8px;
}

.title h1{
    font-size: 64px;
    font-weight: bold;
}

.title h2{
    font-size: 32px;
    font-weight: normal;
}
.title h3{
    font-size: 16px;
    font-weight: 400;
}

.projects-section{
    display: flex;
    flex-direction: column;
}

.projects-wrapper{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 8px;
}

.project-container{
    width: 256px;
    border-radius: 3%;
    overflow: hidden;
    box-shadow: 4px 4px #F9B872;
    background-color: rgba(150, 150, 150, 0.151);
    text-align: center;
}

.project-container figure p{
    font-size: 16px;
    text-align: center;
}

.project-img{
    filter: brightness(45%) blur(1px);   
}

.project-technology-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.project-technology{
    background-color: #F97472;
    margin-top: 8px;
    padding: 2px;
    border-radius: 4px 4px;
    width: fit-content;
}

.project-technology p{
    font-size: 16px;
}

.github-code{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 2px;
    font-size: 24px;
    line-height: 1;
    background-color: #F97472;
}

.github-code a{
    margin-top: 4px;
    padding: 4px;
    line-height: 1;
}

.github-code i{
    color: black;
}

.coming-soon{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 150, 150, 0.151);
}

.coming-soon h2{
    transform: rotate(-35deg);
}

.about-me-section{
    display: flex;
    gap: 16px;
}

.about-me-text-container{
    width: 50vw;
    border-left: 3px solid #F97472;
    background-color: #F9B872;
}

.stack-wrapper{
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
}

.stack-title{
    grid-column: 1/4;
}

.technologies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(16px, auto);
    grid-gap: 8px;
}

.technology{
    text-align: center;
}

.logo{
    font-size: 5em;
}

.contact-section{
    display: flex;
    gap: 16px;
}

.contact-form{
    border-left: 2px double #F9B872;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    width: 30vw;
    padding: 16px;  
    display: flex;
    flex-direction: column;
    gap: 16px;  
}

.contact-form input ,textarea{
    background-color:  hsl(0, 15%, 95%);;
    font-family: "roboto", sans-serif;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px hidden black;
    resize: none;

}

.contact-info h3{
    line-height: 32px;
    font-weight: 700;
}

.contact-info a{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    padding: 8px;
}


/*media queries*/
@media(max-width: 480px){

    h4{
        font-size: 12px;
    }

    .title h1{
        font-size: 32px;
    }

    .title h2{
        font-size: 24px;
    }

    .navbar{
        font-size: 12px;
    }

    .navbar a{
        margin: 4px;
    }

    .projects-section{
        align-items: center;
    }

    .projects-wrapper{
        flex-direction: column;
        justify-items: center;
    }

    .coming-soon{
        height: 350px;
    }

    .about-me-section{
        flex-direction: column;
        align-items: center;
    }


    .about-me-text-container{
        width: 100vw;
        border: none;
    }

    .about-me-title{
        text-align: center;
    }

    .stack-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .stack-title{
        text-align: center;
    }

    .firebase-logo{
        width: 1em;
    }
    .logo{
        font-size: 2.5rem;
    }

    .about-me-section{
        overflow: hidden;
    }

    .contact-section{
        flex-direction: column;
    }

    .contact-form{
        width: 100vw;
    }

    .contact-info{
        text-align: center;
    }
}

